<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.bitnet">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- SDK 32 or lower -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <!-- SDK 33 (Android13) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- SDK 34 (Android14) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
</manifest>
